---
import image from "@/assets/desk.jpg";
---

<div class="p-12 mx-auto sm:container">
  <div class="mb-16 md:w-2/3 lg:w-1/2">
    <h2
      class="flex flex-col flex-wrap justify-center mb-4 text-2xl font-bold text-gray-800 sm:justify-start dark:text-white md:text-4xl"
    >
      Tailus blocks leadership
    </h2>
    <p class="text-gray-600 dark:text-gray-300">
      Tailus prides itself not only on award-winning technology, but also on the
      talent of its people of some of the brightest minds and most experienced
      executives in business.
    </p>
  </div>
  <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3">
    <div
      class="relative m-auto overflow-hidden h-[20rem] md:h-[22rem] lg:h-[24rem] aspect-square group rounded-3xl"
    >
      <img
        class="object-cover object-top w-full mx-auto transition duration-500 grayscale group-hover:scale-105 group-hover:grayscale-0"
        src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        alt="woman"
        loading="lazy"
        width="640"
        height="805"
      />
      <div
        class="absolute inset-x-0 bottom-0 px-8 py-4 mt-auto transition duration-300 ease-in-out lg:translate-y-[80px] translate-y-[100px] bg-gray-800 h-max dark:bg-white group-hover:translate-y-0"
      >
        <div>
          <h4 class="text-xl font-semibold text-white dark:text-gray-700">
            Hentoni Doe
          </h4>
          <span class="block text-sm text-gray-500">CEO-Founder</span>
        </div>
        <p class="mt-8 text-gray-300 dark:text-gray-600">
          Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsama?
        </p>
      </div>
    </div>
    <div
      class="relative m-auto overflow-hidden h-[20rem] md:h-[22rem] lg:h-[24rem] aspect-square group rounded-3xl"
    >
      <img
        class="object-cover object-top w-full mx-auto transition duration-500 grayscale group-hover:scale-105 group-hover:grayscale-0"
        src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        alt="woman"
        loading="lazy"
        width="640"
        height="805"
      />
      <div
        class="absolute inset-x-0 bottom-0 px-8 py-4 mt-auto transition duration-300 ease-in-out lg:translate-y-[80px] translate-y-[100px] bg-gray-800 h-max dark:bg-white group-hover:translate-y-0"
      >
        <div>
          <h4 class="text-xl font-semibold text-white dark:text-gray-700">
            Hentoni Doe
          </h4>
          <span class="block text-sm text-gray-500">CEO-Founder</span>
        </div>
        <p class="mt-8 text-gray-300 dark:text-gray-600">
          Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsama?
        </p>
      </div>
    </div>
    <div
      class="relative m-auto overflow-hidden h-[20rem] md:h-[22rem] lg:h-[24rem] aspect-square group rounded-3xl"
    >
      <img
        class="object-cover object-top w-full mx-auto transition duration-500 grayscale group-hover:scale-105 group-hover:grayscale-0"
        src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        alt="woman"
        loading="lazy"
        width="640"
        height="805"
      />
      <div
        class="absolute inset-x-0 bottom-0 px-8 py-4 mt-auto transition duration-300 ease-in-out lg:translate-y-[80px] translate-y-[100px] bg-gray-800 h-max dark:bg-white group-hover:translate-y-0"
      >
        <div>
          <h4 class="text-xl font-semibold text-white dark:text-gray-700">
            Hentoni Doe
          </h4>
          <span class="block text-sm text-gray-500">CEO-Founder</span>
        </div>
        <p class="mt-8 text-gray-300 dark:text-gray-600">
          Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsama?
        </p>
      </div>
    </div>
    <div
      class="relative m-auto overflow-hidden h-[20rem] md:h-[22rem] lg:h-[24rem] aspect-square group rounded-3xl"
    >
      <img
        class="object-cover object-top w-full mx-auto transition duration-500 grayscale group-hover:scale-105 group-hover:grayscale-0"
        src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        alt="woman"
        loading="lazy"
        width="640"
        height="805"
      />
      <div
        class="absolute inset-x-0 bottom-0 px-8 py-4 mt-auto transition duration-300 ease-in-out lg:translate-y-[80px] translate-y-[100px] bg-gray-800 h-max dark:bg-white group-hover:translate-y-0"
      >
        <div>
          <h4 class="text-xl font-semibold text-white dark:text-gray-700">
            Hentoni Doe
          </h4>
          <span class="block text-sm text-gray-500">CEO-Founder</span>
        </div>
        <p class="mt-8 text-gray-300 dark:text-gray-600">
          Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsama?
        </p>
      </div>
    </div>
  </div>
</div>
