<div
  class="relative m-auto overflow-hidden w-full min-w-[15rem] max-w-[20rem] grid aspect-square group rounded-3xl grid-flow-col"
>
  <img
    class="object-cover object-top w-full mx-auto transition duration-500 grayscale group-hover:scale-105 group-hover:grayscale-0"
    src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
    alt="woman"
    loading="lazy"
    width="640"
    height="805"
  />
  <div
    class="absolute inset-x-0 bottom-0 px-8 py-4 mt-auto transition-all backdrop-blur-sm bg-opacity-90 duration-300 ease-in-out lg:translate-y-[100px] translate-y-[100px] sm:translate-y-[90px] bg-gray-800 h-max dark:bg-white group-hover:translate-y-0 dark:bg-opacity-95 dark:backdrop-blur-sm rounded-b-3xl"
  >
    <svg
      viewBox="0 0 1024 1024"
      class="absolute top-0 left-1/2 -z-10 h-[64rem] aspect-square translate-y-44 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:translate-y-0 lg:-translate-x-1/2"
      aria-hidden="true"
    >
      <circle cx="512" cy="512" r="512" fill="url(#gradient)" fill-opacity="0.8"
      ></circle>
      <defs>
        <radialGradient id="gradient">
          <stop stop-color="#1e6fda"></stop>
          <stop offset="1" stop-color="#0359aa"></stop>
        </radialGradient>
      </defs>
    </svg>
    <div>
      <h4 class="text-xl font-semibold text-white dark:text-gray-700">
        Hentoni Doe
      </h4>
      <span class="block text-sm text-gray-500">CEO-Founder</span>
    </div>
    <p class="mt-6 text-gray-300 dark:text-gray-600">
      Quae labore quia tempora dolor impedit. Possimus, sint ducimus ipsama?
    </p>
  </div>
</div>
